<div class="top-anime" *ngIf="topAnime.length != 0">
  <ngb-carousel
    #carousel
    [interval]="3000"
    [pauseOnHover]="pauseOnHover"
    [pauseOnFocus]="pauseOnFocus"
    [showNavigationArrows]="showNavigationArrows"
  >
    <ng-template ngbSlide *ngFor="let anime of topAnime; index as i">
      <div class="row mb-5">
        <div class="col-md-7">
          <div class="img-wrapper">
            <div
              class="position-relative img-container img-rounded img-container-16-9"
            >
              <div
                mode="cover"
                class="smart-image"
                [style.background-image]="
                  'url(' + anime.images.webp.image_url + ')'
                "
              ></div>
              <a
                title="{{ anime.title }}"
                class="anime-link"
                routerLink="anime/{{ anime.mal_id }}"
              ></a>
              <div
                class="gradient linear-gradient to-right gradient-dark"
              ></div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="d-flex align-items-end h-100">
            <div class="card-body">
              <h5 class="card-title display-6 fw-bold mb-2">
                {{ anime.title }}
              </h5>
              <p class="small card-text line-clamp mb-2">
                {{ anime.synopsis }}
              </p>
              <div class="small anime-overview">
                <ng-container *ngIf="anime.score ?? ''">
                  <p>
                    Score:
                    {{ anime.score }} by {{ anime.scored_by }}
                  </p>
                </ng-container>
                <p *ngIf="anime.status ?? ''">Status: {{ anime.status }}</p>
                <p *ngIf="anime.episodes ?? ''">
                  Episodes: {{ anime.episodes }}
                </p>
                <p *ngIf="anime.type ?? ''">Type: {{ anime.type }}</p>
                <p *ngIf="anime.rating ?? ''">Rating: {{ anime.rating }}</p>
                <p *ngIf="anime.studios ?? ''">
                  Studios:
                  <span
                    class="small py-1 px-2 bg-secondary me-2"
                    *ngFor="let studio of anime.studios"
                  >
                    {{ studio.name }}
                  </span>
                </p>
                <p class="m-0" *ngIf="anime.genres ?? ''">
                  Genres:
                  <span class="small me-2" *ngFor="let genre of anime.genres">
                    {{ genre.name }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="anm anm-v2">
      <div class="anm-title">
        <h2 class="fw-medium h4">Top Rating Anime</h2>
      </div>
      <div class="anm-row" *ngIf="topAnime.length != 0">
        <app-anime-item
          class="anm-col has-count"
          *ngFor="let anime of topAnime; index as item"
          [anime]="anime"
        ></app-anime-item>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="anm">
      <div class="anm-title">
        <h2 class="fw-medium h4">Currently Airing</h2>
        <div class="anm-title-actions">
          <a [routerLink]="'/filter'" class="link">View All</a>
        </div>
        <!-- pagination -->
        <!-- <div class="anm-pagination"></div> -->
      </div>
      <div class="row" *ngIf="airingAnime.length != 0">
        <app-anime-item
          class="col-md-3"
          *ngFor="let anime of airingAnime"
          [anime]="anime"
        ></app-anime-item>
      </div>
    </div>
  </div>
</div>
