<div class="block_area">
  <form [formGroup]="filterForm" (ngSubmit)="onFilterSubmit()">
    <div class="block_area-content row">
      <div class="sidebar-filter col-md-9">
        <div class="row g-2">
          <div class="col-md-4">
            <select
              class="item item-filter form-control"
              id="type"
              formControlName="type"
            >
              <option value="">Type</option>
              <option *ngFor="let item of type" [value]="item.value">
                {{ item.name }}
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <select
              class="item item-filter form-control"
              id="rating"
              formControlName="rating"
            >
              <option value="">Rating</option>
              <option *ngFor="let item of rating" [value]="item.value">
                {{ item.name }}
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <select
              class="item item-filter form-control"
              id="status"
              formControlName="status"
            >
              <option value="">Status</option>
              <option *ngFor="let item of status" [value]="item.value">
                {{ item.name }}
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <select
              class="item item-filter form-control"
              id="order"
              formControlName="order"
            >
              <option value="">Order By</option>
              <option *ngFor="let item of order" [value]="item.value">
                {{ item.name }}
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <select
              class="item item-filter form-control"
              id="sort"
              formControlName="sort"
            >
              <option value="">Sort By</option>
              <option *ngFor="let item of sort" [value]="item.value">
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="filter-bottom col-md-3">
        <div id="sidebar-search">
          <div class="search-content">
            <input
              type="text"
              class="form-control search-input"
              value=""
              name="filter-keyword"
              placeholder="Search..."
            />
          </div>
        </div>
        <button class="btn btn-dark w-100 mt-2" type="submit">
          <i class="fas fa-filter mr-1"></i>Filter
        </button>
      </div>
    </div>
  </form>
</div>

<div class="block_area">
  <div class="block_area-content">
    <div class="row g-4">
      <div class="col-2" *ngFor="let anime of anime">
        <app-anime-item [anime]="anime"></app-anime-item>
      </div>
    </div>
  </div>
</div>
