.line {
  &-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

.anime {
  &-overview {
    background-color: rgba($black-700, 1);
    padding: 8px 16px;
    border-radius: 14px;
    display: inline-block;

    > p {
      margin-bottom: 6px;
    }
  }
}

// card
.anm {
  $anm: "anm";

  &.#{$anm}-v2 {
    .#{$anm}-row,
    .#{$anm}-col {
      display: flex;
      gap: 1rem;
    }
    .#{$anm}-row {
      flex-direction: column;
      counter-reset: animeCount;
    }

    .#{$anm}-col {
      $anmCol: &;
      flex-direction: row;
      position: relative;

      &::before {
        counter-increment: animeCount;
        content: counter(animeCount) ".";
        position: absolute;
        color: $white;
        z-index: 1;
        font-size: 2rem;
        font-weight: $fw-medium;
      }

      &:nth-child(1) {
        &::before {
          color: $blue;
        }
      }
      &:nth-child(2) {
        &::before {
          color: $green;
        }
      }
      &:nth-child(3) {
        &::before {
          color: $yellow;
        }
      }
      
      &.has {
        &-count {
          .img-wrapper {
            padding-left: 32px;
          }
        }
      }
    }


    .img-wrapper {
      flex: 1 1 40%;
    }

    .anm-detail {
      flex: 1 1 60%;
      margin-top: 0;
      line-height: 24px;
    }
  }

  // card inner starts here
  &-title {
    display: flex;
    justify-content: space-between;
  }

  // card styles
  &-card {
    &--header,
    &--body {
      padding: 10px 16px;
    }

    &--body {
      background-color: $black-800;
      border-radius: $br-normal;
    }
  }

  // card description
  &-detail {
    margin-top: 0.75rem;

    &-title {
      font-size: $fs-lg;
      font-weight: $fw-medium;
      margin-bottom: 2px;
    }

    &-type {
      color: $primary-200;
      display: inline-block;
      min-width: 70px;
    }
  }
}
