.navbar {
  padding: 11px 0;

  .search {
    background-color: $gray-200;

    &,
    &::placeholder {
      color: $gray-700;
    }

    @include breakpoint(md) {
      min-width: 455px;
    }
  }
}
.navbar-nav {
  .nav-link {
    font-size: $fs-sm;
    font-weight: $fw-medium;
    padding-top: 0;
    padding-bottom: 0;
  }
}
