<div class="img-wrapper">
  <div class="position-relative img-container img-rounded img-container-6-9">
    <div
      mode="cover"
      class="smart-image"
      [style.background-image]="'url(' + anime.images.webp.image_url + ')'"
    ></div>
    <a
      title="{{ anime.title }}"
      class="anime-link"
      routerLink="anime/{{ anime.mal_id }}"
    ></a>
    <div class="gradient full-gradient"></div>
  </div>
</div>
<div class="anm-detail mt-2">
  <p class="anm-detail-title">{{ anime.title }}</p>
  <div class="small">
    <p class="m-0">
      <span class="anm-detail-type">Score.</span> <span class="">{{ anime.score }}</span>
    </p>
    <p class="m-0">
      <span class="anm-detail-type">Episodes.</span> <span class="">{{ anime.score }}</span>
    </p>
    <p class="m-0">
      <span class="anm-detail-type">Type.</span> <span class="">{{ anime.type }}</span>
    </p>
  </div>
</div>
