<div class="anime-detail" *ngIf="anime">
  <div class="anime-header">
    <h5 class="card-title display-6 fw-bold mb-2">
      {{ anime.title }}
    </h5>
    <div class="mt-2">
      <p>
        Alternative titles
        <span class="fst-italic">{{ anime.title_english }}</span
        >, <span class="fst-italic">{{ anime.title_japanese }}</span>
      </p>
    </div>
  </div>
  <div class="anime-actions mb-4" id="myTab" role="tablist">
    <button
      type="button"
      class="btn btn-theme-dark mb-2 me-2 active"
      id="overview-tab"
      data-bs-toggle="tab"
      data-bs-target="#overview-tab-pane"
      type="button"
      role="tab"
      aria-controls="overview-tab-pane"
      aria-selected="true"
    >
      Overview
    </button>
    <button
      type="button"
      class="btn btn-theme-dark mb-2 me-2"
      id="character-tab"
      data-bs-toggle="tab"
      data-bs-target="#character-tab-pane"
      type="button"
      role="tab"
      aria-controls="character-tab-pane"
      aria-selected="true"
    >
      Characters
    </button>
    <button type="button" class="btn btn-theme-dark mb-2 me-2">Reviews</button>
    <button type="button" class="btn btn-theme-dark mb-2 me-2">
      Recommendation
    </button>
  </div>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="overview-tab-pane"
      role="tabpanel"
      aria-labelledby="overview-tab"
      tabindex="0"
    >
      <div class="row" *ngIf="anime">
        <div class="col-12">
          <p class="d-inline-block me-3">
            Average Rating: <span class="text-theme">{{ anime.score }}</span>
          </p>
          <p class="d-inline-block me-3">
            Rank: <span class="text-theme">{{ anime.rank }}</span>
          </p>
          <p class="d-inline-block me-3">
            Popularity: <span class="text-theme">{{ anime.popularity }}</span>
          </p>
          <p class="d-inline-block me-3">
            Followers: <span class="text-theme">{{ anime.popularity }}</span>
          </p>
        </div>
        <div class="col-md-2">
          <div class="position-relative">
            <div class="img-container img-rounded img-container-6-9">
              <div
                mode="cover"
                class="smart-image"
                [style.background-image]="
                  'url(' + anime.images.webp.image_url + ')'
                "
              ></div>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="anime-details">
            <p class="card-text line-clamp mb-4">
              {{ anime.synopsis }}
            </p>
            <div class="small anime-overview">
              <ng-container *ngIf="anime.score ?? ''">
                <p>
                  Score:
                  {{ anime.score }} by {{ anime.scored_by }}
                </p>
              </ng-container>
              <p *ngIf="anime.status ?? ''">Status: {{ anime.status }}</p>
              <p *ngIf="anime.episodes ?? ''">Episodes: {{ anime.episodes }}</p>
              <p *ngIf="anime.type ?? ''">Type: {{ anime.type }}</p>
              <p *ngIf="anime.rating ?? ''">Rating: {{ anime.rating }}</p>
              <p *ngIf="anime.studios ?? ''">
                Studios:
                <span class="me-2" *ngFor="let studio of anime.studios">
                  {{ studio.name }}
                </span>
              </p>
              <p class="m-0" *ngIf="anime.genres ?? ''">
                Genres:
                <span class="me-2" *ngFor="let genre of anime.genres">
                  {{ genre.name }}
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div
      class="tab-pane fade show"
      id="character-tab-pane"
      role="tabpanel"
      aria-labelledby="character-tab"
      tabindex="0"
    >
      <div class="row g-4" *ngIf="animeCharacters">
        <div class="title">
          <p>
            Total Characters:
            <span class="text-theme fwb-italic">{{
              animeCharacters.length
            }}</span>
          </p>
        </div>
        <div
          class="col-md-2 col-sm-3"
          *ngFor="let character of animeCharacters"
        >
          <div class="img-reverse-wrapper">
            <div
              class="img-container img-rounded img-container-6-9 reverse-gradient"
            >
              <img
                mode="cover"
                class="smart-image"
                loading="lazy"
                [src]="character.character.images.webp.image_url"
              />
              <div class="gradient full-gradient dark"></div>
              <div class="img-container-text fs-4 fw-semibold">
                {{ character.character.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
