/* Natural colors */
$white: #ffffff;

$black-700: #2C2B2D;
$black-800: #1E1B1B;
$black: #000000;

$blue: #00b5fe;
$yellow: #ffc357;
$green: #2dc8a8;
$red: #fe5d62;

// Shades of grey
$gray-100: #f5f6f7;
$gray-200: #f0f0f0;
$gray-300: #e1e1e1;
$gray-400: #d2d2d2;
$gray-500: #b6b6b6;
$gray-600: #7e7e7e;
$gray-700: #6e6e6e;
$gray-800: #636363;
$gray-900: #0e0e0e;

// Shades of green
$green-100: #e9f5ce;
$green-200: #c0dd78;
$green-300: #9bc438;
$green-400: #7aa809;
$green-500: #5d8c00;
$green-600: #4f7d00;
$green-700: #436f00;
$green-800: #2c5000;
$green-900: #193100;

// theme colors
// $primary: $green-400;